<!--
<form name="editTransaction" novalidate ng-submit="save(editTransaction.$valid, transaction)">
  <fieldset>
    <legend>Edit Transaction</legend>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <input name="amount" type="text" class="form-control" ng-model="transaction.amount" placeholder="amount" ng-pattern="/^\d+\.?\d?\d?$/" required title="The dollar amount, e.g. $10.00." focus="true">
      </div>
      <p ng-show="(editTransaction.$submitted || editTransaction.amount.$dirty) && editTransaction.amount.$invalid" class="help-block">The amount is required and must be in the currency format, e.g. $10.00.</p>
    </div>
    <div class="form-group">
      <input name="description" type="text" class="form-control" ng-model="transaction.description" placeholder="description" required>
      <p ng-show="(editTransaction.$submitted || editTransaction.description.$dirty) && editTransaction.description.$invalid" class="help-block">The description is required.</p>
    </div>
    <div class="form-group">
      <input name="date" type="datetime" class="form-control" ng-model="transaction.date" placeholder="date" ng-pattern="/^[1-2]\d\d\d-[0-1]\d-[0-3]\d [0-2]\d:\d\d:\d\d$/" required>
      <p ng-show="(editTransaction.$submitted || editTransaction.date.$dirty) && editTransaction.date.$invalid" class="help-block">The date is required in format YYYY-MM-DD HH:MM:SS.</p>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Save">
    </div>
  </fieldset>
</form>

-->

<form name="editTransaction" novalidate ng-submit="save(editTransaction.$valid, transaction)">
  <fieldset>
    <legend>Edit Transaction</legend>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <input name="amount" type="text" class="form-control" ng-model="transaction.amount" placeholder="amount" ng-pattern="/^\d+\.?\d?\d?$/" required title="The dollar amount, e.g. $10.00." focus="true">
      </div>
      <p ng-show="(editTransaction.$submitted || editTransaction.amount.$dirty) && editTransaction.amount.$invalid" class="help-block">The amount is required and must be in the currency format, e.g. $10.00.</p>
    </div>
    <div class="form-group">
      <input name="description" type="text" class="form-control" ng-model="transaction.description" placeholder="description" required>
      <p ng-show="(editTransaction.$submitted || editTransaction.description.$dirty) && editTransaction.description.$invalid" class="help-block">The description is required.</p>
    </div>
    <div class="form-group">
      <input name="date" type="datetime" class="form-control" ng-model="transaction.date" placeholder="date" required>
      <p ng-show="(editTransaction.$submitted || editTransaction.date.$dirty) && editTransaction.date.$invalid" class="help-block">The date is required.</p>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Save">
      <a class="btn" ui-sref="^">Cancel</a>
      <a class="btn btn-danger pull-right" ng-click="delete(transaction)">Delete</a>
    </div>
  </fieldset>
</form>

