# CodeIgniter repo
.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

#  MyFedha repo
application/config/config.php
application/config/database.php
