<div ng-include src="'views/partials/header.html'"></div>
  <div class="row marketing">
    <h1>Setting a budget is the first step towards stress free finances.</h1>

    <p>For $10 we will provide a budget based on your spending habits.</p>

    <a href="#" class="btn btn-primary">$10 | Personalized Budget</a>

    <form action="/budget/done" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_YbuiIZVoBsbGiW6SkfeUx1sF"
        data-name="Personalized Budget"
        data-description=""
        data-label="Pay Now"
        data-allow-remember-me="false"
        data-amount="1000">
      </script>
    </form>

  </div>
<div ng-include src="'views/partials/footer.html'"></div>
