<h1>{{title}}</h1>

<div ui-view="transaction-body">


  <ul ng-class="{'ext-success':trendingUnderBudget, 'text-danger':!trendingUnderBudget}">
    <li>{{spentThisMonth / goalThisMonth * 100 | number:0}}% of this month's budget spent.</li>
    <li>Trending {{trending | number:0}}% {{ trendingUnderBudget  ? 'under' : 'over' }} budget.</li>
    <li ng-if="trendingUnderBudget">You have a surplus of {{spentUnderBudget | currency:$}} to spend.</li>
    <li ng-if="!trendingUnderBudget">You cannot spend any money for {{waitDaysBeforeSpending}} days.</li>
  </ul>

  <ul>
    <li>You spent {{spentToday | currency:$}} of {{goalPerDay | currency:$}} today.</li>
    <li>You spent {{spentThisWeek | currency:$}} of {{goalThisWeek | currency:$}} this week, on target is {{goalThisDayOfWeek | currency:$}}.</li>
    <li>You spent {{spentThisMonth | currency:$}} of {{goalThisMonth | currency:$}} this month, on target is {{goalThisDayOfMonth | currency:$}}.</li>
  </ul>

  <table class="table table-striped table-hover table-clickable">
    <thead>
      <tr>
        <th>Amount</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="(date, ts) in transactions_by_date" class="info no-hover condensed-row">
        <td colspan="4" class="text-info">
          {{date | date:'mediumDate'}}
        </td>
      </tr>
      <tr ng-repeat="t in ts" ng-click="edit(t.id)">
        <td>{{t.amount | currency:$}}</td>
        <td>{{t.description}}</td>
      </tr>
      <tr ng-repeat-end></tr>
    </tbody>
    <tfoot>
      <tr class="info">
        <td>{{transactions | sumFilter | currency:$}}</td>
        <td>Total</td>
      </tr>
    </tfoot>
  </table>

</div>

<!-- spacing -->
<p>&nbsp;</p>
