<h1>{{title}}</h1>

<div ui-view="transaction-body">
  <table class="table table-striped table-hover table-clickable">
    <thead>
      <tr>
        <th>Estimate</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="t in transactions | filter:search">
        <td ng-click="edit(t.id)">{{t.type=='expense' ? t.estimate * -1 : t.estimate | currency:$}}</td>
        <td ng-click="edit(t.id)">{{t.type=='expense' ? t.amount * -1 : t.amount | currency:$}}</td>
        <td ng-click="edit(t.id)">{{t.date}}</td>
        <td>
          <span ng-click="edit(t.id)">{{t.description}}</span>
          <button ng-show="t.amount == 0" class="btn btn-xs btn-primary pull-right" ng-click="pay(t)">Pay</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="info">
        <td>{{transactions | filter:search | sumFilterEstimate | currency:$}}</td>
        <td>{{transactions | filter:search | sumBudgetFilter | currency:$}}</td>
        <td>&nbsp;</td>
        <td>Total</td>
      </tr>
    </tfoot>
  </table>

  <form>
    <div class="form-group text-center">
      <a ui-sref="app.budget.add" class="btn btn-primary">Add</a>
    </div>
  </form>
</div>

<!-- spacing -->
<p>&nbsp;</p>
