
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="app">MyFedha</a>
    </div>
    <ul class="nav navbar-nav">
      <li ui-sref-active="active"><a ui-sref="app.transaction">Transactions</a></li>
    </ul>
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="search">
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a ui-sref="app.logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
  </div><!-- /.container-fluid -->
</nav>

<h1>{{title}}</h1>

<table class="table table-striped table-hover table-clickable">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Date</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="t in transactions | filter:search" ng-click="edit(t.id)">
      <td>{{t.amount | currency:$}}</td>
      <td>{{t.date}}</td>
      <td>{{t.description}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="info">
      <td>{{transactions | filter:search | sumFilter | currency:$}}</td>
      <td>&nbsp;</td>
      <td>Total</td>
    </tr>
  </tfoot>
</table>

<div ng-show="trending < 100">
  <p><strong class="text-success">{{total | currency:$}} Spent, Target for Today was: {{goalToday | currency:$}}</strong></p>
  <p><strong class="text-success">{{300 - total | currency:$}} Balance</strong></p>
  <p><strong class="text-success">{{total / 300 * 100 | number:0}}% of Monthly Budget Spent</strong></p>
  <p><strong class="text-success">{{total / goalToday * 100 | number:0}}% trending under budget</strong></p>
</div>
<div ng-show="trending > 100">
  <p><strong class="text-danger">{{total | currency:$}} Spent, Target for Today was: {{goalToday | currency:$}}</strong></p>
  <p><strong class="text-danger">{{300 - total | currency:$}} Balance</strong></p>
  <p><strong class="text-danger">{{total / 300 * 100 | number:0}}% of Monthly Budget Spent</strong></p>
  <p><strong class="text-danger">{{total / goalToday * 100 | number:0}}% Trending Over Budget</strong></p>
</div>

<form>
  <div class="form-group text-center">
    <a ui-sref="app.transaction.add" class="btn btn-primary">Add</a>
    <p>&nbsp;</p>
    <p>
      <a ui-sref="app.login" class="btn">Login</a>
    </p>
  </div>
</form>

<!-- spacing -->
<p>&nbsp;</p>
